.logo-container{
    z-index: 0;
    width: 400px;
    height: 609px;
    position: absolute;
    top: 10vw;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;



    img{
        position: absolute;
        height: 30vw;
        width: 30vw;
        transform: rotateZ(30deg);
        animation-name: fadeIn;
        animation-fill-mode: forwards;
        animation-duration: 6s;
        animation-timing-function: ease-in;
        z-index: 1;
    }
}

@media screen and (max-width:960px) {
    .logo-container{
        left: 50vw;
    }
    .logo-container img{
        height: 34vw;
        width: 38vw;
    }
}

